doctype html
html
  head
    title locus
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='./css/style.css', rel='stylesheet', type='text/css', media='all')
    
    script(type='text/javascript', src='js/init.js')
    script(type='text/javascript', src='js/paper-full.min.js')
    script(type='text/paperscript', src='js/app.js', canvas='myCanvas')


  body
    canvas#myCanvas(resize='')
